@import "@fontsource/inter";
@import "@fontsource/playfair-display";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f7f7f7;
}

.font-heading {
  font-family: "Playfair Display", serif;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
